.footer {
    font-family: $font-ubuntu;
    color: $white;
    background-color: $veryDarkBlackBlue;
    border-top-right-radius: 100px;

    &__content {
        text-align: center;

        @include breakpoint-up(large) {
            @include flex-display(row, space-between, normal);
        }
    }

    &__logo {
        img {
            margin-bottom: 2rem;
        }
    }

    &__links {
        @include flex-display(column, normal, center);

        p {
            font-size: 1.125rem;
            letter-spacing: 0.02rem;
        }

        a {
            color: $grayishBlue;
            line-height: 2.125rem;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1.5px;
            }

            &:focus {
                outline: 2px dotted white;
            }
            
        }

        @include breakpoint-down(medium) {
             &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        @include breakpoint-up(large) {
            font-size: 1rem;
            align-items: start;

            p {
                margin-top: 0;
                font-size: 1rem;
            }

            &.col3 {
                padding-right: 6rem;
            }
        }
    }
}