.header {
    min-height: 85vh;
    font-family: $font-ubuntu;

    // Hamburger Open Style
    &.open {
        .header__toggle {
            > span:first-child {
                transform: rotate(45deg);
            }

            > span:nth-child(2) {
                opacity: 0;
            }

            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &__background {
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 85%;
            background-image: linear-gradient(to bottom, $veryLightRed, $lightRed);
            border-bottom-left-radius: 100px;
            z-index: -2;

            @include breakpoint-up(large) {
                background-image: linear-gradient(to right, $veryLightRed, $lightRed);
            }
        }

        &::after {
            content: "";
            position: absolute;
            height: 85%;
            width: 160%;
            background-image: url("../images/bg-pattern-intro.svg");
            background-repeat: no-repeat;
            background-size: 200%;
            background-position: 45% 30%;
            border-bottom-left-radius: 100px;
            z-index: -1;

            @include breakpoint-up(medium) {
                height: 85%;
                width: 160%;
                background-size: 120%;
                background-position: 130% 38%;
            }

            @include breakpoint-up(large) {
                height: 85%;
                width: 130%;
                background-size: 180%;
                background-position: 34% 52%;
            }
        }
    }

    nav {
        @include flex-display(row, space-between, center);
        padding: 3.125rem 1.5rem;
    }

    &__toggle {

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $white;
            transform-origin: 3px 1px;
            transition: all 300ms ease-in-out;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__navbar {
        @include breakpoint-down(medium) {
            position: absolute;
            background-color: $white;
            width: calc(100% - 3rem);
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            // margin-top: 40rem;
            padding: 1.625rem;
            font-family: $font-overpass;
            font-weight: 600;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.3);
        }
        
        @include breakpoint-up(large) {
            @include flex-display(row, space-between, center);

            width: 84%;
            font-size: 0.9375rem;
        }
    }

    &__menu {
        @include breakpoint-up(large) {
            @include flex-display(row, normal, center);
        }
    }

    &__item {
        @include breakpoint-down(medium) {
            padding: 0.75rem 0.625rem;

            a {
                color: $veryDarkBlue;
            }
        }

        @include breakpoint-up(large) {

            a { 
                color: $white;
            }
            
            &:not(:last-child) {
                padding-right: 1.75rem;
            }
        }
    }

    &__link {
        &::after {
            content: "";
            display: inline-block;
            width: 1rem;
            height: 0.4375rem;
            background-image: url("../images/icon-arrow-dark.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            margin-left: 0.25rem;
            transition: all 300ms ease-in-out;
        }

        @include breakpoint-up(large) {
            &::after {
                background-image: url("../images/icon-arrow-light.svg");
            }
        }

        &.active {
            color: $veryDarkGrayishBlue;

            @include breakpoint-up(large) {
                color: $white;
                text-decoration: underline;
                text-decoration-thickness: 1.5px;
            }

            &::after{
                transform: rotate(180deg);
            }
        }
    }

    &__accordion {
        position: absolute;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        transition: height 250ms ease-in-out;

        &.collapse{
            // display: none;
            height: 0;
            opacity: 0;
            visibility: hidden;
        }

        &.open {
            opacity: 1;
            visibility: visible;

            @include breakpoint-down(medium) {
                align-items: center;
                position: relative;
                padding: 0.875rem;
                margin-top: 1.25rem;
                background-color: rgba(200, 200, 203, 0.3);
                

                a {
                    padding: 0.625rem;
                    color: $veryDarkGrayishBlue;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }

            @include breakpoint-up(large) {
                align-items: left;
                width: 10rem;
                position: absolute;
                padding: 1.25rem;
                margin-top: 1.25rem;
                color: $veryDarkBlue;
                background-color: $white;
                box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.3);

                a {
                    padding: 0.5rem;
                    color: $veryDarkBlue;

                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    &__cta {
        .btn1, a {
            padding: 0.75rem 2.125rem;
        }

        @include breakpoint-down(medium) {
            @include flex-display(column, normal, center);

            &::before {
                content: "";
                width: 100%;
                margin: 0.875rem 0px;
                border-bottom: 1px solid $grayishBlue;
            }

            a {
                color: $veryDarkBlue;
            }

            .btn1 {
                margin-bottom: 0.75rem;
                color: $white;
                background-image: linear-gradient(to right, $veryLightRed, $lightRed);

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &__login {
        &:hover {
            opacity: 0.6;
        }

        @include breakpoint-down(medium) {
            margin-bottom: 0.625rem;
        }
        
        @include breakpoint-up(large) {
            padding: 0px 1.25rem; 
            color: $white; 
        }    
    }

    &__content {
        text-align: center;
        color: white;

        @include breakpoint-down(small) {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }

        .btn1 {
            padding: 0.75rem;
        }

        .btn2 {
            padding: 0.75rem 1.25rem;
        }
    }
}