.section2 {
    background-image: linear-gradient(to bottom, $veryDarkGrayBlue, $veryDarkDesaturatedBlue);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;

    @include breakpoint-up(large) {
        background-image: linear-gradient(to right, $veryDarkGrayBlue, $veryDarkDesaturatedBlue);
    }

    &__background {

        &::before {
            content: "";
            position: absolute;
            height: 24rem;
            width: 100%;
            background-image: url("../images/bg-pattern-circles.svg");
            background-repeat: no-repeat;
            background-size: 120%;
            background-position: center 144%;
            border-top-right-radius: 100px;
            border-bottom-left-radius: 100px;

            @include breakpoint-up(medium) {
                background-position: center 100%;
            }

            @include breakpoint-up(large) {
                height: 27.5rem;
                background-size: 68%;
                background-position: -44% 86%;
            }
        }
    }

    &__flex {
        @include flex-display(column, normal, center);

        @include breakpoint-up(large) {
            @include flex-display(row, normal, center);

            min-height: 18.75rem;
        }
    }

    &__image {
        height: 8.125rem;

        @include breakpoint-down(medium) {
            &::before {
                content: "";
                position: relative;
                width: 23.125rem;
                min-height: 25rem;
                background-image: url("../images/illustration-phones.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center center;
                display: block;
                top: -270px;
            }
        }

        @include breakpoint-up(large) {
            flex: 1;

            &::before {
                content: url("../images/illustration-phones.svg");
                position: absolute;
                margin-top: -12rem;
                transform: translateX(-24%);
                // width: 100%;
                // min-height: 100%;
                // background-repeat: no-repeat;
                // background-size: auto;
                // background-position: center center;
                // top: 99rem; //216%
                // right: 24%;
            }
        }
    }

    &__item {
        color: $white;
        z-index: 1;

        h2 {
            font-size: 2.625rem;
            margin-bottom: 1rem;
        }

        @include breakpoint-up(large) {
            flex: 1;
            padding: 0.625rem;

            h2 {
                font-size: 2.4rem;
                text-align: left;
            }

            p {
                margin: 0;
            }
        }
    }
}