.section1 {

    &::before {
        @include breakpoint-up(large) {
            content: "";
            position: absolute;
            height: 144%;
            width: 100%;
            background-image: url("../images/illustration-editor-desktop.svg");
            background-repeat: no-repeat;
            background-size: 65%;
            background-position: center center;
            left: 38%;
        }
    }

    &__content {
        margin-bottom: 14.125rem;

        @include breakpoint-up(large) {
            margin-bottom: 6.5625rem;
        }
    }

    h2, h3 {
        color: $veryDarkBlue;
    }

    h2 {
        margin: 3.125rem 0px;
    }

    &__flex {
        @include breakpoint-up(large) {
            
            @include flex-display(row, normal, center)
        }
    }

    &__image--mobile {      
        position: relative;
        min-height: 21rem;
        background-image: url("../images/illustration-editor-mobile.svg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center center;
        margin: 3.125rem 0px;

        @include breakpoint-up(large) {
            flex: 1;
            order: 2;
            background-image: none;
        }
    }

    &__item {
        @include breakpoint-up(large) {
            flex: 1;
            order: 1;
        }
    }

    &__text {
        padding-bottom: 1.25rem;
        color: $veryDarkGrayishBlue;

        @include breakpoint-up(large) {
            padding-bottom: 3.125rem;
        }
    }
}